<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/signup" (click)="onToggleclose()">
    <mat-icon>check_circle_outline</mat-icon>
    <span>Signup</span>
    </a>
   
    <a mat-list-item routerLink="/signin" (click)="onToggleclose()">
        <mat-icon>check_circle_outline</mat-icon>
        <span>Signin</span>
    </a>
   
    <a mat-list-item routerLink="/accomodation" (click)="onToggleclose()">
        <mat-icon>hotel</mat-icon>
        <span>Rooms</span>
    </a>     
       
    <a mat-list-item routerLink="/food-beverage" (click)="onToggleclose()">
        <mat-icon>room_service</mat-icon>
        <span>Food & Beverage</span>
    </a>
   
    <a mat-list-item routerLink="/lifestyle" (click)="onToggleclose()">
        <mat-icon>spa</mat-icon>
        <span>Lifestyle</span>
    </a>
</mat-nav-list>